<section class="content-header">
	<h1>Detail <small>User</small></h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="#/users"><i class="fa fa-user"></i> User</a></li>
		<li class="active">Detail User</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-6">
			<div class="box">
				<div class="box-body table-responsive">
					<table class="table table-striped table-bordered">
						<tr>
							<td>Username</td>
							<td> : </td>
							<td>{{user.username}}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td> : </td>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							<td>Nama</td>
							<td> : </td>
							<td>{{user.name}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>